SECRET_KEY=sua-chave-secreta-aqui
ADMIN_PASSWORD=admin123
WHATSAPP_SUPORTE=5571987939074
CERTIFICADORA_PADRAO=certisign

# Produção (Render, Cloud Run + Cloud SQL): URL PostgreSQL
# DATABASE_URL=postgresql://usuario:senha@host:5432/certiguia

PIX_CHAVE=99f89727-3fb9-4982-b54e-74dc097a078a
PIX_NOME=VICTOR NEVES
PIX_CIDADE=SALVADOR
